<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button [routerLink]="['/customer/home']"><ion-icon name="arrow-back"></ion-icon></ion-button>
                    <ion-title>Call Request</ion-title>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            <div class="common_form inner_page">
        
            <form [formGroup]="registerForm1" (ngSubmit)="onSaveCallRequestHandler()">

                <div class="ion-padding">
                    <div class="cnt-content mb32">
                        <p>Please Select A Date & Time For When You Would Like To Discuss Your Enquiry Over The Phone.</p>
                    </div>
                    
                    <ion-item [ngClass]="submitted && f1.contactName.errors && f1.contactName.errors.required ? 'has-error' : (f1.contactName.errors && !f1.contactName.errors.required ? 'has-text' : '')" class="cs-select">

                        <ion-label>Select Contact Person</ion-label>

                        <ion-select formControlName="contactName" [(ngModel)]="data.contactName"  placeholder="Select Contact" (ngModelChange) ="onChangeContactHandler()">
                            <ion-select-option *ngFor="let row of contactData" [value]="row.name">{{row.name}}</ion-select-option>
                        </ion-select>

                    </ion-item>
                    
                    <ion-item [ngClass]="submitted && f1.mobile.errors && f1.mobile.errors.required ? 'has-error' : (f1.mobile.errors && !f1.mobile.errors.required ? 'has-text' : '')">
                        <ion-label position="floating">Mobile No.</ion-label>
                        <ion-input tel="10" formControlName="mobile" [(ngModel)]="data.mobile" (keypress)="dbService.numberOnly($event)"></ion-input>
                    </ion-item>

                    <ion-text *ngIf="submitted && f1.mobile.errors" class="cs-error">

                            <span *ngIf="f1.mobile.errors.minlength">Minimum 10 Digit Required</span>
                            <span *ngIf="f1.mobile.errors.maxlength">Maximum 10 Digit Required</span>

                    </ion-text>
                    
                    <ion-item [ngClass]="submitted && f1.suitableDate.errors && f1.suitableDate.errors.required ? 'has-error' : (f1.suitableDate.errors && !f1.suitableDate.errors.required ? 'has-text' : '')">
                        <ion-label position="floating">Suitable Date</ion-label>

                        <ion-datetime formControlName="suitableDate" [(ngModel)]="data.suitableDate" displayFormat="DD-MMM-YYYY" min="{{minDate}}"></ion-datetime>

                    </ion-item>
                    
                    <ion-item [ngClass]="submitted && f1.suitableTime.errors && f1.suitableTime.errors.required ? 'has-error' : (f1.suitableTime.errors && !f1.suitableTime.errors.required ? 'has-text' : '')">

                        <ion-label position="floating">Suitable Time</ion-label>
                        <ion-datetime formControlName="suitableTime" [(ngModel)]="data.suitableTime" displayFormat="h:mm A"></ion-datetime>

                    </ion-item>

                    <div class="cs-btn mt50">
                        <ion-button type="submit" class="success large wp100">SAVE</ion-button>
                    </div>
                </div>

            </form>
                
            </div>
        </div>
    </div>
</ion-content>
