<ion-content>
    <div class="dashboard_cnt">
        <div class="cs-header pb0" padding>
            <div class="logo">
                <img src="assets/img/logo.jpg" alt="">
                <ion-button (click)="onLogoutHandler()" color="danger" fill="clear" class="w45 h45 font14 mr5"><ion-icon name="power"></ion-icon></ion-button>
            </div>
            
            <div class="profile-segment mt16" (click)="GoToProfile()">
                <div class="pr-icon">
                    <div *ngIf="!profileData.image_url" class="cs-icon"></div>
                    
                    <div *ngIf="profileData.image_url" class="cs-thumb">
                        <img  src="{{dbService.customerDocURL + profileData.image_url}}" alt="">
                    </div>
                </div>
                <div *ngIf="dashboardData && dashboardData['loginData']" class="info">
                    <ion-text color="light">{{dashboardData['loginData']['company_name']}}<br><span>{{dashboardData['loginData']['cust_code']}}</span></ion-text>
                </div>
            </div>
        </div>
    </div>
    
    <div class="dashboard_container">
        <div class="btn-group">
            <a class="center-btn" href="tel: {{dashboardData.customerEmergencyNumber}}">
                <img src="assets/img/e-call.svg" alt="">
                Emergency Contact
            </a>
            <div class="grid-btn">
                <button routerLink="/customer/request">
                    <img src="assets/img/info.svg" alt="">
                    Service Request
                </button>
                <button routerLink="/customer/request">
                    <img src="assets/img/gear.svg" alt="">
                    Commissioning Request
                </button>
                <button (click)="GoToCallRequest()">
                    <img src="assets/img/call.svg" alt="">
                    Send Call Request
                </button>
                <button (click)="GoToDocuments()">
                    <img src="assets/img/document.svg" alt="">
                    <ion-text> View Document</ion-text>
                </button>
            </div>
        </div>
    </div>
</ion-content>
