<ion-content>

    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button [routerLink]="['/customer/home']">
                        <ion-icon name="arrow-back"></ion-icon>
                    </ion-button>
                    <ion-title>Customer care Center</ion-title>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>

        <div class="cs-ion-content pt0" padding>

            <div class="cs-heading-new pl0 pt0 pr0 heading-right">
                <ion-text>ESCALATION MATRIX</ion-text>
                <ion-text>Head Office <a>CUSTOMER CENTER</a></ion-text>
            </div>

            <div class="round-box">
                <ion-text> CUSTOMER CARE CENTER</ion-text>
                <ion-text>Helpline No:- 0120-4550400, 0124-4695300</ion-text>
            </div>

            <div class="decorate-line">
                <ion-text>Logging Request @ Tricolite Customer Service APP (Available on play store)</ion-text>
            </div>

            <!-- -----Level 1----- -->
            <div class="cs-heading-new pl0 pt0">
                <ion-text>Level 1</ion-text>
            </div>
            <div class="basic-info">
                <div class="info-left">
                    <ion-text><i class="material-icons">person</i>+91-99589 98882 - Mr. Rajan Yadav</ion-text>
                    <ion-text class="gmail-text"><i class="material-icons">mail</i>Customercare@tricolite.Com</ion-text>
                </div>
                <div class="info-right"><img src="assets/img/green_whatsapp.svg" alt=""></div>
            </div>

            <div class="basic-info">
                <div class="info-left">
                    <ion-text><i class="material-icons">person</i>Chetna Sharma / +91 9319644993</ion-text>
                    <ion-text class="gmail-text"><i class="material-icons">mail</i>Chetna.sharma@tricolite.Com</ion-text>
                </div>
                <div class="info-right"><img src="assets/img/green_whatsapp.svg" alt=""></div>
            </div>

            <!-- -----Level 2----- -->
            <div class="cs-heading-new pl0 pt0">
                <ion-text>Level 2</ion-text>
            </div>
            <div class="basic-info">
                <div class="info-left">
                    <ion-text><i class="material-icons">person</i> Mr. Rajesh Yadav / +91-92058 83483 / Warranty & FOC Services</ion-text>
                    <ion-text class="gmail-text"><i class="material-icons">mail</i>Rajesh.yadav@tricolite.com</ion-text>
                </div>
                <div class="info-right"><img src="assets/img/green_whatsapp.svg" alt=""></div>
            </div>

            <div class="basic-info">
                <div class="info-left">
                    <ion-text><i class="material-icons">person</i>Mr. Pawan Kumar / +91-99589 98161 / AMC/Paid Services</ion-text>
                    <ion-text class="gmail-text"><i class="material-icons">mail</i>Pawan.kumar@tricolite.com</ion-text>
                </div>
                <div class="info-right"><img src="assets/img/green_whatsapp.svg" alt=""></div>
            </div>

            <!-- -----Level 3----- -->
            <div class="cs-heading-new pl0 pt0">
                <ion-text>Level 3</ion-text>
            </div>
            <div class="basic-info">
                <div class="info-left">
                    <ion-text><i class="material-icons">person</i>- Mr. Mohit Garg / +91-9311860102</ion-text>
                </div>
                <div class="info-right"><img src="assets/img/green_whatsapp.svg" alt=""></div>
            </div>
            <div class="cs-heading-new pl0 pt0">
                <ion-text>Level 4</ion-text>
            </div>
            <div class="basic-info">
                <div class="info-left">
                    <ion-text><i class="material-icons">person</i>- Mr. Tushar Gupta</ion-text>
                    <ion-text class="gmail-text"><i class="material-icons">mail</i>Tushar.gupta@tricolite.com</ion-text>

                </div>
                <div class="info-right"><img src="assets/img/green_whatsapp.svg" alt=""></div>
            </div>
            <div class="cs-heading-new pl0 pt0">
                <ion-text>Level 5</ion-text>
            </div>
            <div class="basic-info">
                <div class="info-left">
                    <ion-text><i class="material-icons">person</i>- Ms. Meera Kumar Chauhan</ion-text>
                    <ion-text class="gmail-text"><i class="material-icons">mail</i>meera@tricolite.com</ion-text>

                </div>
                <div class="info-right"><img src="assets/img/green_whatsapp.svg" alt=""></div>
            </div>
            
        </div>
    </div>
</ion-content>