
<div class="cs-popover">
    
    <ion-button fill="clear" (click)="GoToRemarks()" (click)="DismissClick()"><div><img src="assets/icon/spare_parts.svg" alt=""> Remark</div></ion-button>
    
    <ion-button fill="clear" (click)="GoToStatus()" (click)="DismissClick()"><div><img src="assets/icon/change_status.svg" alt="">Status</div></ion-button>
    
    <ion-button fill="clear" (click)="GoToSpareParts()" (click)="DismissClick()"><div><img src="assets/icon/add_remark.svg" alt="">Spare Part</div></ion-button>
    
    <ion-button fill="clear"  (click)="GoToImages()"   (click)="DismissClick()"><div><img src="assets/icon/view_service_report.svg" alt="">Images</div></ion-button>
    
    <ion-button fill="clear" (click)="GoToReport('dailyReport')" (click)="DismissClick()"><div><img src="assets/icon/export_service_report.svg" alt="">Daily Report</div></ion-button>
    
    <ion-button fill="clear" (click)="GoToServiceReport()"><div><img src="assets/icon/report.svg" alt="" class="h20">View Service Report</div></ion-button>
    
    <ion-button (click)="GoToReport('checkListReport')" *ngIf="routeType == 'commissioning'" (click)="DismissClick()" fill="clear"><div><img src="assets/icon/checkmark.svg" alt="" class="h20">Check List</div></ion-button>
    
</div>

<div style="display:none" id="pdfComponentService">
    
    <table style="width: 1024px; border: 1px solid #000000; margin: 0 auto; font-family: Arial, Helvetica, sans-serif;  table-layout: fixed; box-sizing: border-box;">
        <tr>
            <td style="width: 612px; vertical-align: top; text-align: center; padding-top: 10px;">
                <img src="http://tricolite.abacusdesk.com/assets/img/logo-pdf.png" alt="" style="height: 15px;">
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Unit 1</strong> : Plot No. 18/1A, Site IV , Industrial Area Sahibabad – 201010 ,UP, INDIA.</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Unit 2</strong>: Plot No. 5, Sector-VI, IMT Manesar,Gurgaon, Haryana - 122050, INDIA</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Ph</strong> : +91-120-4550400,  <strong>Email</strong>: customercare@tricolite.com</p>
                <h6 style="font-size: 14px; margin: 0px; line-height: 24px; font-weight: 600;">CCC/QR/01/00</h6>
            </td>
            <td style="width: 412px; vertical-align: top;">
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Abacus desk :</strong> Abacus desk</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Contact Person :</strong> Bhanu</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Project :</strong>Tricolite</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>So. Number :</strong> SO1229</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Product Model :</strong>MV /LV</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Product(FG No.) :</strong>Fg12345</p>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <h2 style="font-size: 15px; font-weight: 600; margin: 0px; line-height: 20px; border-bottom: 1px solid #000000;">Service Detail</h2>
            </td>
        </tr>
        
        <tr>
            <td style="width: 512px;">
                <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;"><strong>Request No. :</strong> 54309 <strong>(Sale/Warranty)</strong></p>
                <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;"><strong>Nature of Complaint :</strong> Malfunctioning</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Service Engineer :</strong>Shyamender</p>
            </td>
            <td style="width: 512px;">
                <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;"><strong>Request Date :</strong>  22 Jan 2020 10:56AM</p>
                <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;"><strong>Nature of Complaint :</strong> Malfunctioning</p>
                <p style="font-size: 12px; margin: 0px; line-height: 20px;"><strong>Sub. Engineer :</strong>Shyamender</p>
            </td>
        </tr>
        
        <tr>
            <td colspan="2" style="padding-top: 15px;"> 
                <table style="width: 100%; table-layout: fixed; box-sizing: border-box; border-collapse: collapse;">
                    <tr>
                        <th style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px; padding: 3px; font-weight: 600; background: #cccccc;" >
                            Complaint Received Date & Time
                        </th>
                        <th style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px; padding: 3px; font-weight: 600; background: #cccccc;" >
                            Engineer Accepted Date & Time
                        </th>
                        <th style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px; padding: 3px; font-weight: 600; background: #cccccc;" >
                            Engineer Reached Date & Time
                        </th>
                        <th style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px; padding: 3px; font-weight: 600; background: #cccccc;" >
                            Complaint Closed Date & Time
                        </th>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px;">22 Jan 2020 10:56AM</td>
                        <td style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px;">22 Jan 2020 10:56AM</td>
                        <td style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px;">22 Jan 2020 10:56AM</td>
                        <td style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px;">22 Jan 2020 12:27PM</td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td colspan="2" style="padding-top: 15px;">
                <h2 style="font-size: 15px; font-weight: 600; margin: 0px; line-height: 20px; border-bottom: 1px solid #000000;">Spare Part Information</h2>
            </td>
        </tr>
        
        
        
        <tr>
            <td style="padding-top: 20px;" colspan="2" >
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 900px;">
                            <strong style="font-size: 12px; margin: 0px;">Part Name</strong>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </p>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </p>
                        </td>
                        <td style="width: 124px; text-align: center;">
                            <strong style="font-size: 12px; margin: 0px;">QTY.</strong>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                30
                            </p>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                40
                            </p>
                        </td>
                    </tr>
                </table>
                
            </td>
            
        </tr>
        
        
        
        <tr>
            <td colspan="2" style="padding-top: 15px;">
                <h2 style="font-size: 15px; font-weight: 600; margin: 0px; line-height: 20px; border-bottom: 1px solid #000000;">Check List Information</h2>
            </td>
        </tr>
        
        
        
        <tr>
            <td style="padding-top: 20px;" colspan="2" >
                <table style="width: 100%; table-layout: fixed; box-sizing: border-box; border-collapse: collapse;">
                    <tr>
                        <th style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px; padding: 3px; font-weight: 600; background: #cccccc;" >
                            Category
                        </th>
                        <th style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px; padding: 3px; font-weight: 600; background: #cccccc;" >
                            Point
                        </th>
                        <th style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px; padding: 3px; font-weight: 600; background: #cccccc;" >
                            List Remark
                        </th>
                    </tr>
                    <tr>
                        <td style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
                        </td>
                        <td style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
                        </td>
                        <td style="font-size: 12px; border: 1px solid #000000; text-align: left; padding: 3px;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
                        </td>
                        
                    </tr>
                </table>
            </td>
            
        </tr>
        
        
        <tr>
            <td colspan="2" style="padding-top: 15px;">
                <h2 style="font-size: 15px; font-weight: 600; margin: 0px; line-height: 20px; border-bottom: 1px solid #000000;">Work Detail</h2>
            </td>
        </tr>
        
        
        
        <tr>
            <td style="padding-top: 20px;" colspan="2" >
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100%;">
                            <strong style="font-size: 12px; margin: 0px;">Work Detail</strong>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <strong style="font-size: 12px; margin: 0px;">Cause of Failure</strong>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                Failure
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%;">
                            <strong style="font-size: 12px; margin: 0px;">Suggestion</strong>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </p>
                        </td>
                    </tr>
                </table>
                
            </td>
            
        </tr>
        
        <tr>
            <td colspan="2" >
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 800px">
                            <strong style="font-size: 12px; margin: 0px;">Customer Remark</strong>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            </p>
                        </td>
                        
                        <td style="width: 224px">
                            <strong style="font-size: 12px; margin: 0px;">Customer Feedback</strong>
                            <p style="font-size: 12px; margin: 0px; margin-bottom: 5px; line-height: 20px;">
                                <i class="material-icons" style="color: #e48d0a; font-size: 18px;">star</i>
                                <i class="material-icons" style="color: #e48d0a; font-size: 18px;">star</i>
                                <i class="material-icons" style="color: #e48d0a; font-size: 18px;">star</i>
                                <i class="material-icons" style="color: #e48d0a; font-size: 18px;">star</i>
                                <i class="material-icons" style="color: #e48d0a; font-size: 18px;">star</i>
                            </p>
                        </td>
                    </tr>
                    
                </table>
                
            </td>
            
        </tr>
        
        <tr>
            <td colspan="2" style="padding-top: 15px;">
                <h2 style="font-size: 15px; font-weight: 600; margin: 0px; line-height: 20px; border-bottom: 1px solid #000000;">Authorized Signature Detail</h2>
            </td>
        </tr>
        
        <tr>
            <td colspan="2" >
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 100%; text-align: right;">
                            <p style="font-size: 12px; margin: 0px; line-height: 20px; font-weight: 600;">
                                Customer Signature
                            </p>
                            <p style="font-size: 12px; margin: 0px; line-height: 16px; font-weight: 600;">(Bhanu))</p>
                            <p style="font-size: 12px; margin: 0px; line-height: 16x; font-weight: 600;">999999999</p>
                            <p style="font-size: 12px; margin: 0px; line-height: 16px; font-weight: 600;">bhanu@abacusdesk.co.in</p>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <p style="font-size: 12px; margin: 0px; line-height: 16px; font-weight: 600;">Sign Date :06-03-2020</p>
                        </td>
                        <td>
                            <img class="w82" src="" alt="" style="width: 100px; height: 100px;">
                        </td>
                    </tr>
                    
                </table>
                
            </td>
            
        </tr>
    </table>
    
</div>



