
<div class="cs-popover">
    
    <ion-button fill="clear" (click)="GoToRemarks()" (click)="DismissClick()"><div><img src="assets/icon/spare_parts.svg" alt=""> Remark</div></ion-button>
    
    <ion-button fill="clear" (click)="GoToStatus()" (click)="DismissClick()"><div><img src="assets/icon/change_status.svg" alt="">Status</div></ion-button>
    
    <ion-button fill="clear" (click)="GoToSpareParts()" (click)="DismissClick()"><div><img src="assets/icon/add_remark.svg" alt="">Spare Part</div></ion-button>
    
    <ion-button fill="clear"  (click)="GoToImages()"   (click)="DismissClick()"><div><img src="assets/icon/view_service_report.svg" alt="">Images</div></ion-button>
    
    <ion-button fill="clear" (click)="GoToReport('dailyReport')" (click)="DismissClick()"><div><img src="assets/icon/export_service_report.svg" alt="">Daily Report</div></ion-button>
    
    <ion-button fill="clear" (click)="GoToServiceReport()"><div><img src="assets/icon/report.svg" alt="" class="h20">View Service Report</div></ion-button>
    
    <ion-button (click)="GoToReport('checkListReport')" *ngIf="routeType == 'commissioning'" (click)="DismissClick()" fill="clear"><div><img src="assets/icon/checkmark.svg" alt="" class="h20">Check List</div></ion-button>
    
</div>