<ion-content class="cs-modal-container">
    <div class="modal-container">
        <div class="main-figure">
            <div class="cs-modal-body">
                    <signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad>

                    <div class="cs-btn mt16 lr">

                        <ion-button (click)="drawClear()" class="dark min w100 clear border" fill="clear">Clear</ion-button>

                        <ion-button (click)="drawComplete()" class="success min w100">Apply</ion-button>

                    </div>
            </div>
            <div class="modal-close">
                <ion-button color="danger" (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
            </div>
        </div>
    </div>
</ion-content>
