<ion-content>
    <div class="login-container">
        <div class="logo"><img src="../../assets/img/logo.jpg" alt=""></div>
        
        <div class="form-container">
            
            <div class="head">
                <div class="heading">
                    <h1>Sign Up</h1>
                    <ion-button fill="clear" routerLink="/customerlogin"><i class="material-icons">arrow_right_alt</i> Back To Login</ion-button>
                    
                </div>
            </div>
            
            <div class="input-container mt10">
                <div class="custome-filter dlform">
                    <div class="fiter-data">
                        <div class="cs-right">
                            <div class="heading">
                                <h2>Basic Info</h2>
                              
                                
                            </div>
                            <div  class="basic_info mb16">
                                <form [formGroup]="registerForm1">
                                    <div class="common_form inner_page">
                                        <!-- <ion-item [ngClass]="submitted && f1.companyName.errors && f1.companyName.errors.required ? 'has-error' : (f1.companyName.errors && !f1.companyName.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Company Name</ion-label>
                                            <ion-input formControlName="companyName" [(ngModel)]="data.companyName" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.companyName.errors" class="cs-error">
    
                                                <span *ngIf="f1.companyName.errors.minlength">Minimum 5 Letter Required</span>
                
                                            </ion-text>                                

                                        </ion-item> -->
                                        <ion-item [ngClass]="submitted && f1.name.errors && f1.name.errors.required ? 'has-error' : (f1.name.errors && !f1.name.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating"> Name</ion-label>
                                            <ion-input formControlName="name" [(ngModel)]="data.name" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.name.errors" class="cs-error">
    
                                                <span *ngIf="f1.name.errors.minlength">Minimum 5 Letter Required</span>
                
                                            </ion-text>                                

                                        </ion-item>

                                        <!-- <ion-item [ngClass]="submitted && f1.email.errors && f1.email.errors.required ? 'has-error' : (f1.email.errors && !f1.email.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating"> Corporate Mail</ion-label>
                                            <ion-input formControlName="email" [(ngModel)]="data.email" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.email.errors" class="cs-error">
    
                                                    <span *ngIf="!f1.email.errors.required">Email Invalid</span>
                    
                                            </ion-text>

                                        </ion-item> -->
                                        <ion-item [ngClass]="submitted && f1.designation.errors && f1.designation.errors.required ? 'has-error' : (f1.designation.errors && !f1.designation.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Designation</ion-label>
                                            <ion-input formControlName="designation" [(ngModel)]="data.designation" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.designation.errors" class="cs-error">
    
                                                <span *ngIf="f1.designation.errors.minlength">Minimum 5 Letter Required</span>
                
                                            </ion-text>                                

                                        </ion-item>
                                        <!-- <ion-item [ngClass]="submitted && f1.landlineNo.errors && f1.landlineNo.errors.required ? 'has-error' : (f1.landlineNo.errors && !f1.landlineNo.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Corporate Mobile No.</ion-label>
                                            <ion-input type="tel" formControlName="landlineNo" [(ngModel)]="data.landlineNo"   minlength = "10" maxlength="10" (keypress)="dbService.numberOnly($event)" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.landlineNo.errors" class="cs-error">
    
                                                <span *ngIf="f1.landlineNo.errors.minlength">Minimum 10 Digit Required</span>
    
                                                <span *ngIf="f1.landlineNo.errors.maxlength">Maximum 10 Digit Required</span>
                    
                                            </ion-text>

                                        </ion-item> -->
                                        <ion-item [ngClass]="submitted && f1.landlineNo.errors && f1.landlineNo.errors.required ? 'has-error' : (f1.landlineNo.errors && !f1.landlineNo.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Mobile No.</ion-label>
                                            <ion-input type="tel" formControlName="landlineNo" [(ngModel)]="data.landlineNo"   minlength = "10" maxlength="10" (keypress)="dbService.numberOnly($event)" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.landlineNo.errors" class="cs-error">
    
                                                <span *ngIf="f1.landlineNo.errors.minlength">Minimum 10 Digit Required</span>
    
                                                <span *ngIf="f1.landlineNo.errors.maxlength">Maximum 10 Digit Required</span>
                    
                                            </ion-text>

                                        </ion-item>
                                         <ion-item [ngClass]="submitted && f1.email.errors && f1.email.errors.required ? 'has-error' : (f1.email.errors && !f1.email.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Email ID<span style="font-size: 10px">(please enter here only official id)</span></ion-label>
                                            <ion-input formControlName="email" [(ngModel)]="data.email" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.email.errors" class="cs-error">
    
                                                    <span *ngIf="!f1.email.errors.required">Email Invalid</span>
                    
                                            </ion-text>

                                        </ion-item> 
                                       <ion-item [ngClass]="submitted && f1.companyName.errors && f1.companyName.errors.required ? 'has-error' : (f1.companyName.errors && !f1.companyName.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Company Name</ion-label>
                                            <ion-input formControlName="companyName" [(ngModel)]="data.companyName" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.companyName.errors" class="cs-error">
    
                                                <span *ngIf="f1.companyName.errors.minlength">Minimum 5 Letter Required</span>
                
                                            </ion-text>                                

                                        </ion-item> 

                                        <ion-item [ngClass]="submitted && f1.username.errors && f1.username.errors.required ? 'has-error' : (f1.username.errors && !f1.username.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Username</ion-label>
                                            <ion-input type="text" formControlName="username" [(ngModel)]="data.username" autocomplete="nope"></ion-input>
                                        </ion-item>

                                        <ion-item [ngClass]="submitted && f1.password.errors && f1.password.errors.required ? 'has-error' : (f1.password.errors && !f1.password.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Password</ion-label>
                                            <ion-input type="password" formControlName="password" [(ngModel)]="data.password" autocomplete="nope"></ion-input>
                                        </ion-item>
                                        <ion-item [ngClass]="submitted && f1.superiorName.errors && f1.superiorName.errors.required ? 'has-error' : (f1.superiorName.errors && !f1.superiorName.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Superior Name</ion-label>
                                            <ion-input formControlName="superiorName" [(ngModel)]="data.superiorName" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.superiorName.errors" class="cs-error">
    
                                                <span *ngIf="f1.superiorName.errors.minlength">Minimum 5 Letter Required</span>
                
                                            </ion-text>                                

                                        </ion-item> 
                                         <ion-item [ngClass]="submitted && f1.superioremail.errors && f1.superioremail.errors.required ? 'has-error' : (f1.superioremail.errors && !f1.superioremail.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating"> Superior Email ID</ion-label>
                                            <ion-input formControlName="superioremail" [(ngModel)]="data.superioremail" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.superioremail.errors" class="cs-error">
    
                                                    <span *ngIf="!f1.superioremail.errors.required">Email Invalid</span>
                    
                                            </ion-text>

                                        </ion-item> 
                                        <div class="heading">
                                            <h2>Project Info</h2>
                                        </div>
                                        <ion-item [ngClass]="submitted && f1.so_no.errors && f1.so_no.errors.required ? 'has-error' : (f1.so_no.errors && !f1.so_no.errors.required ? 'has-text' : '')" >
                                            <ion-label position="floating">Sales Order No.(SO No.)</ion-label>
                                            <ion-input formControlName="so_no" [(ngModel)]="data.so_no" (keyup) = "onSonoHandler()" autocomplete="nope"></ion-input>
                                            <ion-text *ngIf="submitted && f1.so_no.errors" class="cs-error">
    
                                                <span *ngIf="!f1.so_no.errors.required">SO NO Invalid</span>
                
                                        </ion-text>
                                                                      

                                        </ion-item>  <ion-item  >
                                            <ion-label position="floating">Fg no.</ion-label>
                                            <ion-input formControlName="fg_no" [(ngModel)]="data.fg_no" (keyup) = "onfgHandler()" autocomplete="nope"></ion-input>
                                           
                                                                          

                                        </ion-item> 
                                        <div class="head1">
                                            <div class="head">
                                              
                                                <ion-button fill="clear" style="font-size: 8px" (click)="imageModel()"> *AVAILABLE ON PANEL NAME PLATE & DRAWING</ion-button>
                                            </div>
                                        </div>
                                       
                                        <!-- <div class="heading">
                                            <h2>Project Info</h2>
                                        </div>

                                        <ion-item [ngClass]="submitted && f1.projectName.errors && f1.projectName.errors.required ? 'has-error' : (f1.projectName.errors && !f1.projectName.errors.required ? 'has-text' : '')">
                                            <ion-label position="floating">Project Name</ion-label>
                                            <ion-input formControlName="projectName" [(ngModel)]="data.projectName" autocomplete="nope"></ion-input>

                                            <ion-text *ngIf="submitted && f1.projectName.errors" class="cs-error">
    
                                                <span *ngIf="f1.projectName.errors.minlength">Minimum 5 Letter Required</span>
                
                                            </ion-text>

                                        </ion-item> -->


                                    </div>

                                </form>
                                <div class="cs-btn mt16 lr">
                                    <ion-button (click)="onSaveRegistrationHandler()" class="success min w100">SAVE</ion-button>
                                </div>
                            </div>

                            <!-- <div class="heading">
                                <h2>Address Info</h2>
                            </div>
                            <div  class="address mb16">
                             <form [formGroup]="registerForm2" (ngSubmit)="onNextStageHandler(2)">

                                <div class="common_form inner_page">
                                    <ion-item [ngClass]="submitted && f2.street.errors && f2.street.errors.required ? 'has-error' : (f2.street.errors && !f2.street.errors.required ? 'has-text' : '')" class="h70">
                                        <ion-textarea formControlName="street" [(ngModel)]="data.street" placeholder="Address"></ion-textarea>
                                      
                                        <ion-text *ngIf="submitted && f2.street.errors" class="cs-error">
                                                <span *ngIf="f2.street.errors.minlength">Minimum 5 Letter Required</span>
                                        </ion-text>
                                    </ion-item>

                                    
                                    <ion-item [ngClass]="submitted && f2.state.errors && f2.state.errors.required ? 'has-error' : (f2.state.errors && !f2.state.errors.required ? 'has-text' : '')" class="cs-select">

                                        <ion-label>State</ion-label>

                                        <ionic-selectable
                                        [(ngModel)]="data.state"
                                        [items]="stateList"
                                        itemValueField="state_name"
                                        itemTextField="state_name"
                                        formControlName="state"
                                        [canSearch]="true"
                                        (onChange)="onGetDistrictListHandler($event)">

                                        </ionic-selectable>

                                    </ion-item>

                                    
                                    <ion-item [ngClass]="submitted && f2.district.errors && f2.district.errors.required ? 'has-error' : (f2.district.errors && !f2.district.errors.required ? 'has-text' : '')" class="cs-select">
                                        <ion-label>District</ion-label>

                                        <ionic-selectable
                                        [(ngModel)]="data.district"
                                        [items]="districtList"
                                        itemValueField="district_name"
                                        itemTextField="district_name"
                                        formControlName="district"
                                        [canSearch]="true">

                                        </ionic-selectable>
                                    </ion-item>
                                    
                                    <ion-item [ngClass]="submitted && f2.city.errors && f2.city.errors.required ? 'has-error' : (f2.city.errors && !f2.city.errors.required ? 'has-text' : '')">
                                        <ion-label position="floating">City</ion-label>
                                        <ion-input formControlName="city" [(ngModel)]="data.city" ></ion-input>

                                        <ion-text *ngIf="submitted && f2.city.errors" class="cs-error">
    
                                                <span *ngIf="f2.city.errors.minlength">Minimum 4 Letter Required</span>
                
                                        </ion-text>

                                    </ion-item>


                                    <ion-item [ngClass]="submitted && f2.pincode.errors && f2.pincode.errors.required ? 'has-error' : (f2.pincode.errors && !f2.pincode.errors.required ? 'has-text' : '')">
                                        <ion-label position="floating">Pin Code</ion-label>
                                        <ion-input type="tel" formControlName="pincode" [(ngModel)]="data.pincode"  minlength ="6 "maxlength="6" (keypress)="dbService.numberOnly($event)"></ion-input>

                                        <ion-text *ngIf="submitted && f2.pincode.errors" class="cs-error">
    
                                                <span *ngIf="f2.pincode.errors.minlength || f2.pincode.errors.maxlength">Pincode Must Be 6 Digit!</span>
                
                                        </ion-text>

                                    </ion-item>


                                </div>
                              </form>

                            </div>
                        
                            <div class="heading">
                                <h2>Site Contact Person Detail</h2>
                            </div>
                            <div class="contact_person">
                            <form [formGroup]="registerForm3" (ngSubmit)="onNextStageHandler(3)">
                        
                                <div class="common_form inner_page">

                                    <ion-item [ngClass]="submitted && f3.contactName.errors && f3.contactName.errors.required ? 'has-error' : (f3.contactName.errors && !f3.contactName.errors.required ? 'has-text' : '')">
                                        <ion-label position="floating">Name</ion-label>
                                        <ion-input formControlName="contactName" [(ngModel)]="data.contactName" autocomplete="nope"></ion-input>

                                        <ion-text *ngIf="submitted && f3.contactName.errors" class="cs-error">
    
                                                <span *ngIf="f3.contactName.errors.minlength">Minimum 3 Letter Required</span>
    
                                                <span *ngIf="f3.contactName.errors.maxlength">Maximum 50 Letter Allowed</span>
                
                                        </ion-text>

                                    </ion-item>


                                    <ion-item [ngClass]="submitted && f3.designation.errors && f3.designation.errors.required ? 'has-error' : (f3.designation.errors && !f3.designation.errors.required ? 'has-text' : '')">
                                        <ion-label position="floating">Designation</ion-label>
                                        <ion-input formControlName="designation" [(ngModel)]="data.designation" autocomplete="nope"></ion-input>
                                            <ion-text *ngIf="submitted && f3.designation.errors" class="cs-error">
        
                                                    <span *ngIf="f3.designation.errors.minlength">Minimum 3 Letter Required</span>
        
                                                    <span *ngIf="f3.designation.errors.maxlength">Maximum 50 Letter Allowed</span>
                    
                                            </ion-text>
                                    </ion-item>


                                    <ion-item [ngClass]="submitted && f3.contactEmail.errors && f3.contactEmail.errors.required ? 'has-error' : (f3.contactEmail.errors && !f3.contactEmail.errors.required ? 'has-text' : '')">
                                        <ion-label position="floating">Email ID</ion-label>
                                        <ion-input formControlName="contactEmail" [(ngModel)]="data.contactEmail" autocomplete="nope"></ion-input>
                                        <ion-text *ngIf="submitted && f3.contactEmail.errors" class="cs-error">
    
                                                <span *ngIf="!f3.contactEmail.errors.required">Email Invalid!</span>
                
                                        </ion-text>
                                    </ion-item>


                                    <ion-item [ngClass]="submitted && f3.contactMobile.errors && f3.contactMobile.errors.required ? 'has-error' : (f3.contactMobile.errors && !f3.contactMobile.errors.required ? 'has-text' : '')">
                                        <ion-label position="floating">Mobile No.</ion-label>
                                        <ion-input type="tel" formControlName="contactMobile" [(ngModel)]="data.contactMobile" minlength = 10 maxlength="10" (keypress)="dbService.numberOnly($event)" autocomplete="nope"></ion-input>
                                  
                                        <ion-text *ngIf="submitted && f3.contactMobile.errors" class="cs-error">
    
                                                <span *ngIf="f3.contactMobile.errors.minlength">Mobile must be 10 digit!</span>
    
                                                <span *ngIf="f3.contactMobile.errors.maxlength">Mobile Must be 10 Digit</span>
                
                                        </ion-text>
                                    </ion-item>


                                </div>
                            </form>
                            
                                <div class="cs-btn mt16 lr">
                                    <ion-button (click)="onSaveRegistrationHandler()" class="success min w100">SAVE</ion-button>
                                </div>
                                
                            </div> -->
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>

    </div>
</ion-content>
