<ion-content>
    <div class="login-container">
        <div class="logo"><img src="assets/img/logo.jpg" alt=""></div>
        
        <div class="form-container">
            <div class="head">
                <div class="heading">
                    
                    <h1 *ngIf="activeStage==3">Change Password</h1>
                    
                    <ion-button fill="clear" routerLink="/customer/home" routerDirection="">
                        <i class="material-icons">arrow_right_alt</i> Back</ion-button>
                        
                    </div>
                    <p *ngIf="activeStage==1">Enter your mobile number, we will send you OTP to verify.</p>
                    
                    <p *ngIf="activeStage==2">Enter 4 Digit OTP Code.</p>
                </div>
                
                <div class="input-container">
                    
                    <div class="form_x">
                        
                        <form *ngIf="!isUserLoggedIn" [formGroup]="registerForm1">
                            
                            <ion-item [ngClass]="isMobileSubmitted && f1.mobile.errors && f1.mobile.errors.required ? 'has-error' : (f1.mobile.errors && !f1.mobile.errors.required ? 'has-text' : '')" class="icon">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <g id="user_icon" transform="translate(0)">
                                        <g id="Group_1" data-name="Group 1" transform="translate(0)">
                                            <path id="Path_1" data-name="Path 1" d="M17.071,12.929a9.962,9.962,0,0,0-3.8-2.384,5.781,5.781,0,1,0-6.542,0A10.016,10.016,0,0,0,0,20H1.562a8.437,8.437,0,1,1,16.875,0H20A9.935,9.935,0,0,0,17.071,12.929ZM10,10a4.219,4.219,0,1,1,4.219-4.219A4.224,4.224,0,0,1,10,10Z" transform="translate(0)" fill="rgba(0,0,0,0.3)"/>
                                        </g>
                                    </g>
                                </svg>
                                
                                <ion-label position="floating">Mobile No.</ion-label>
                                <ion-input formControlName="mobile" [(ngModel)]="data.mobile" (keypress)="dbService.numberOnly($event)" [readonly]="activeStage!=1"></ion-input>
                                
                                
                                <ion-text *ngIf="isMobileSubmitted && f1.mobile.errors" class="cs-error">
                                    
                                    <span *ngIf="f1.mobile.errors.minlength">Minimum 10 Digit Required</span>
                                    <span *ngIf="f1.mobile.errors.maxlength">Maximum 10 Digit Required</span>
                                    
                                </ion-text>
                                
                            </ion-item>
                            
                            
                        </form>
                        
                        <form *ngIf="activeStage==2" [formGroup]="registerForm2">
                            
                            
                            <ion-item [ngClass]="isOTPSubmitted && f2.otpCode.errors && f2.otpCode.errors.required ? 'has-error' : (f2.otpCode.errors && !f2.otpCode.errors.required ? 'has-text' : '')" class="icon">
                                
                                <svg id="key_icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20.316" viewBox="0 0 20 20.316">
                                    
                                    <g id="Group_4" data-name="Group 4">
                                        
                                        <g id="Group_3" data-name="Group 3">
                                            
                                            <path id="Path_2" data-name="Path 2" d="M10.844,20.316a6.871,6.871,0,0,0,6.422-9.3l6.565-6.566a.5.5,0,0,0,.147-.354V.5a.5.5,0,0,0-.5-.5H20.517a.5.5,0,0,0-.354.146l-1,1a.5.5,0,0,0-.147.354V2.722H17.8a.5.5,0,0,0-.5.5v.49H16.8a.5.5,0,0,0-.5.5V5.29H15.227a.5.5,0,0,0-.354.147L13.281,7.028a6.867,6.867,0,1,0-2.437,13.287Zm0-12.732a5.821,5.821,0,0,1,2.355.492.5.5,0,0,0,.55-.1l0,0L15.434,6.29H16.8a.5.5,0,0,0,.5-.5V4.713h.49a.5.5,0,0,0,.5-.5v-.49h1.224a.5.5,0,0,0,.5-.5V1.7l.7-.7h2.253v.707L16.861,7.824a.45.45,0,1,0,.637.637l5.479-5.479v.9L16.323,10.54l0,0a.5.5,0,0,0-.1.55,5.867,5.867,0,1,1-5.374-3.511Z" transform="translate(-3.978)" fill="rgba(0,0,0,0.3)"/>
                                            
                                        </g>
                                        
                                    </g>
                                    
                                    <g id="Group_6" data-name="Group 6" transform="translate(2.902 13.665)">
                                        <g id="Group_5" data-name="Group 5" transform="translate(0)">
                                            <path id="Path_3" data-name="Path 3" d="M342.275,76.893a1.874,1.874,0,1,0-1.874-1.874A1.876,1.876,0,0,0,342.275,76.893Zm0-2.748a.874.874,0,1,1-.874.874A.875.875,0,0,1,342.275,74.145Z" transform="translate(-340.401 -73.144)" fill="rgba(0,0,0,0.3)"/>
                                        </g>
                                    </g>
                                    
                                </svg>
                                
                                <ion-label position="floating">Enter OTP</ion-label>
                                
                                <ion-input formControlName="otpCode" [(ngModel)]="data.otpCode" (ngModelChange)="isOTPWrong = false" (keypress)="dbService.numberOnly($event)"></ion-input>
                                
                                <ion-text *ngIf="isOTPSubmitted && f2.otpCode.errors" class="cs-error">
                                    
                                    <span *ngIf="f2.otpCode.errors.minlength">OTP Must be 4 Digit!</span>
                                    <span *ngIf="f2.otpCode.errors.maxlength">OTP Must be 4 Digit!</span>
                                    
                                </ion-text>
                                
                                <ion-text *ngIf="isOTPWrong" class="cs-error">
                                    
                                    <span>Enter Correct OTP!</span>
                                    
                                </ion-text>
                                
                            </ion-item>
                            
                            
                            
                            
                        </form>
                        
                        
                    </div>
                    
                    <form *ngIf="activeStage==3" [formGroup]="registerForm3">
                        
                        
                        <div class="common_form">
                            
                            <ion-item [ngClass]="isPasswordSubmitted && f3.password.errors && f3.password.errors.required ? 'has-error' : (f3.password.errors && !f3.password.errors.required ? 'has-text' : '')">
                                
                                <ion-label position="floating">New Password</ion-label>
                                <ion-input formControlName="password" [(ngModel)]="data.password" (ngModelChange)="isPasswordWrong=false"></ion-input>
                                
                                <ion-text *ngIf="isPasswordSubmitted && f3.password.errors" class="cs-error">
                                    
                                    <span *ngIf="f3.password.errors.minlength">Password Must be Minimum  5 Letters!</span>
                                    
                                    <span *ngIf="f3.password.errors.maxlength">Password Must be Atmost  20 Letters!</span>
                                    
                                </ion-text>
                            </ion-item>
                            
                            
                            
                            <ion-item [ngClass]="isPasswordSubmitted && f3.confirmPassword.errors && f3.confirmPassword.errors.required ? 'has-error' : (f3.confirmPassword.errors && !f3.confirmPassword.errors.required ? 'has-text' : '')">
                                
                                <ion-label position="floating">Confirm Password</ion-label>
                                
                                <ion-input formControlName="confirmPassword" [(ngModel)]="data.confirmPassword" (ngModelChange)="isPasswordWrong=false"></ion-input>
                                
                                <ion-text *ngIf="isPasswordSubmitted && f3.confirmPassword.errors" class="cs-error">
                                    
                                    <span *ngIf="f3.confirmPassword.errors.minlength">Password Must be Minimum  5 Letters!</span>
                                    
                                    <span *ngIf="f3.confirmPassword.errors.maxlength">Password Must be Atmost  20 Letters!</span>
                                    
                                </ion-text>
                                
                                <ion-text *ngIf="isPasswordWrong && !f3.confirmPassword.errors" class="cs-error">
                                    
                                    <span>Both Password Do Not Match!</span>
                                    
                                </ion-text>
                                
                            </ion-item>
                            
                            
                            
                        </div>
                        
                    </form>
                    
                    <div class="cs-btn mt50">
                        
                        <ion-button (click)="onMobileSubmitHandler()" *ngIf="activeStage==1" class="success large" shape="round" expand="full">CONTINUE</ion-button>
                        
                        <ion-button  (click)="onOTPSubmitHandler()" *ngIf="activeStage==2" class="success large" shape="round" expand="full">CONTINUE</ion-button>
                        
                        <ion-button  (click)="onPasswordSubmitHandler()" *ngIf="activeStage==3" class="success large" shape="round"  expand="full">UPDATE PASSWORD</ion-button>
                        
                    </div>
                    
                </div>
                
            </div>
            
            
        </div>
        
    </ion-content>