<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button [routerLink]="['/customer/request']"><ion-icon name="arrow-back"></ion-icon></ion-button>
                    <ion-title>Request Detail</ion-title>
                </div>
                <div class="cs-right">
                    <ion-button (click)="presentcutomerPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            <div class="complaints">
                <div class="figure">
                    <div class="top">
                        <div class="cs-left">
                            <h1>#COM-{{taskDataDetail.task_no}} <ion-text>({{taskDataDetail.days}})</ion-text></h1>
                        </div>
                        <div class="cs-right">
                            <ion-text>{{taskDataDetail.dateCreated}} | {{taskDataDetail.timeCreated}}</ion-text>
                        </div>
                    </div>
                    
                    <div class="one-two-one three mt10">
                        <div class="cs-box">
                            <div>
                                <ion-text>Created By</ion-text>
                                <ion-text>{{taskDataDetail.created_by_name}} </ion-text>
                            </div>
                        </div>
                        <div class="cs-box">
                            <div>
                                <ion-text>Service Type</ion-text>
                                <ion-text *ngIf="taskDataDetail.task_type == 'commissioning'">Free Service</ion-text>
                                <ion-text *ngIf="taskDataDetail.task_type != 'commissioning'">{{(taskDataDetail.transaction_type == 'FOC' || taskDataDetail.transaction_type == 'Sale/Warranty' || taskDataDetail.transaction_type?.toLowerCase() == 'commissioning') ? 'Free Service' : 'Paid Service'}}</ion-text>
                            </div>
                        </div>
                        <div class="cs-box close" style="background: #FFCC00;">
                            <div>
                                <ion-text>Priority</ion-text>
                                <ion-text>{{taskDataDetail.priority? taskDataDetail.priority : 'N/A'}}</ion-text>
                            </div>
                        </div>
                    </div>
                    
                    <div class="one-two-one one mt10">
                        <div class="cs-box">
                            <div>
                                <ion-text>Request Type & Complaint Title</ion-text>
                                <ion-text>{{taskDataDetail.task_type | titlecase}} / {{taskDataDetail.compaint_title}}</ion-text>
                            </div>
                        </div>
                    </div>
                    
                    <div class="one-two-one one mt10">
                        <div class="cs-box">
                            <div>
                                <ion-text>Description : <strong>{{taskDataDetail.task_description}}</strong></ion-text>
                            </div>
                        </div>
                    </div>
                    
                    <div class="one-two-one two mt10">
                        <div class="cs-box">
                            <div>
                                <ion-text>Eng. Work Status</ion-text>
                                <ion-text>{{taskDataDetail.workStatus? taskDataDetail.workStatus : 'N/A'}}</ion-text>
                            </div>
                        </div>
                        <div class="cs-box" style="background: #FF0000;">
                            <div>
                                <ion-text>Complaint Status</ion-text>
                                <ion-text>{{taskDataDetail.status? taskDataDetail.status : 'N/A'}}</ion-text>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="complaints product-list mt20">
                <div class="cs-heading"><h1>Product Information</h1></div>
                <div class="figure">
                    <div class="cnt-info">
                        <div class="cs-left" >
                            <div class="f-alpha">{{taskDataDetail.customer_name?taskDataDetail.customer_name.substring(0,1).toUpperCase():''}}</div>
                            <div class="names">
                                <h1>{{taskDataDetail.customer_name?.toUpperCase()}}</h1>
                                <ion-text>({{taskDataDetail.project_name}})</ion-text>
                            </div>
                        </div>
                        <div class="cs-right">
                        </div>
                    </div>
                    
                    <div class="one-two-one three" *ngFor = "let fgData of taskDataFgDetail">
                        <div class="cs-box">
                            <div>
                                <ion-text>So No.</ion-text>
                                <ion-text>{{fgData.so_no}}</ion-text>
                            </div>
                        </div>
                        <div class="cs-box">
                            <div>
                                <ion-text>Si No.</ion-text>
                                <ion-text>{{fgData.si_no}}</ion-text>
                            </div>
                        </div>
                        <div class="cs-box">
                            <div>
                                <ion-text>FG No.</ion-text>
                                <ion-text>{{fgData.fg_no}} </ion-text>
                            </div>
                        </div>

                        <div *ngIf="fgData.nature_problem" class="cs-box">
                            <div>
                                <ion-text>Nature</ion-text>
                                <ion-text>{{fgData.nature_problem}} </ion-text>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
            <div *ngIf="taskAssignData.length != 0" class="complaints product-list mt20">
                <div class="cs-heading"><h1>Assign Subordinates</h1></div>
                <div class="figure" *ngFor="let assignData of taskAssignData">
                    <div class="cnt-person">
                        <div class="p-info" >
                            <div class="cs-left" >
                                <h1 [hidden] = "assignData.type=='Primary'"><i class="material-icons">person</i>{{assignData.name}} ({{assignData.designation}})</h1>
                            </div>
                            <div class="cs-right">
                                <a href="tel: {{assignData.mobile}}"><i class="material-icons">call</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="h70"></div>
        </div>
    </div>
</ion-content>
