<ion-content>
    <div class="login-container">
        <div class="logo"><img src="../../assets/img/logo.jpg" alt=""></div>
        
        <div class="form-container">
            <div class="head">
                <div class="heading">
                    <h1>Select User Type</h1>
                </div>
                <p>Please Select Login Type <ion-text> Service Engineer </ion-text> OR <ion-text>Customer</ion-text>.</p>
            </div>
            
            <div class="input-container">
                <div class="lgtype">
                    <ion-item (click)="onGoToLoginPageHandler('Technician')">
                        <div class="figure">
                            <ion-radio name="loginType" [(ngModel)] = "data.loginType"  slot="start" value="Technician"></ion-radio>
                            <div class="lg-icon"><img src="assets/icon/service_eng.svg" alt=""></div>
                            <h1>Service Engineer</h1>
                        </div>
                    </ion-item>
                    <ion-item (click) = "onGoToLoginPageHandler('Customer')" >
                        <div class="figure">
                            <ion-radio name="loginType" [(ngModel)] = "data.loginType" slot="start" value="Customer"></ion-radio>
                            <div class="lg-icon"><img src="assets/icon/customer.svg" alt=""></div>
                            <h1>Customer</h1>
                        </div>
                    </ion-item>
                </div>
            </div>
        </div>
        
        
    </div>
    
</ion-content>