<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button [routerLink]="['/customer/home/mydocuments']" ><ion-icon name="arrow-back"></ion-icon></ion-button>
                    <ion-title>{{documentTitle}}</ion-title>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            <div class="gallery-container">
                <div class="img-gallery">
                    <div *ngFor="let row of documentImageData; let index = index"  class="figure">
                        <img (click) = "onViewImageHandler(index)" src="{{dbService.customerDocURL}}{{row.document_url}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
