<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button [routerLink]="['/technicians/menu/documents']" ><ion-icon name="arrow-back"></ion-icon></ion-button>
                    <ion-title>{{documentTitle}}</ion-title>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            <div class="gallery-container">
                <div class="img-gallery aab">
                    <div (click) = "onViewImageHandler(index)" *ngFor="let row of documentImageData; let index = index"  class="figure white-bg">
                        <img *ngIf="row.document_type != 'application/pdf' && row.document_type != 'application/vnd.ms-excel'"  src="{{dbService.masterDocURL}}{{row.document_url}}" alt="">

                        <img *ngIf="row.document_type == 'application/pdf'" src="assets/img/pdf.svg" alt="">

                        <img *ngIf="row.document_type == 'application/vnd.ms-excel'" src="assets/img/excel.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
