<ion-content class="cs-modal-container">
    <div class="modal-container">
        <div class="main-figure">
            <div class="cs-modal-body">
                <div class="logo">
                    <img src="assets/img/logo.jpg" alt="">
                </div>
                <div class="modal-content">
                    <p>Your request to access the <ion-text>Tricolite</ion-text> is under review. You will be able to log in as soon as the overseeing dealer acknowledges your application.</p>
                    
                    <p>Meanwhile, you can contact us<br><a href="tel: 129 895745">+129 895745</a> or mail us<br><a>support_tricolite@gmail.com</a> if you any question.</p>
                </div>
            </div>
            <div class="modal-close">
                <ion-button color="danger" (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
            </div>
        </div>
    </div>
</ion-content>
