<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button [routerLink]="['/customer/home']"><ion-icon name="arrow-back"></ion-icon></ion-button>
                    <ion-title>Documents</ion-title>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            <div class="m_documents" padding>
                <div *ngFor="let row of documentList" routerLink="/customer/menu/documents/detail/{{row.id}}/{{row.subject}}" class="figure">
                    <div class="thumb"><img src="{{dbService.customerDocURL + row.document_url}}" alt=""></div>
                    <h1><ion-text>{{row.subject}}</ion-text> <i class="material-icons">arrow_right_alt</i></h1>
                </div>
            </div>

            <div *ngIf="!isRequestInProcess && documentList.length == 0" class="no-data">
                    <img src="assets/icon/no_found.svg">
                    <p>Data Not Found!</p>
            </div>

        </div>
    </div>
</ion-content>
