<ion-content>
  <div class="login-container">
      <div class="logo"><img src="../../assets/img/logo.jpg" alt=""></div>
      
      <div class="form-container">
          
          <div class="head">
              
              <div class="heading">
                  
                  <h1>PANEL NAME PLATE</h1>
                  
                  <ion-button fill="clear" routerLink="/registration" routerDirection="">
                      <i class="material-icons">arrow_right_alt</i> Back</ion-button>
                      
                  </div>
                  
                
                  
              </div>
              
              <div class="input-container">
                <div class="pop-imge">
                  <img src="../../assets/img/panel.jpg">
                 
              
              </div>
              
                
                 
                  
              </div>
          </div>
      </div>
      
  </ion-content>
