<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            
            <div class="profile-big"><img *ngIf="profileData.image_url" src="{{dbService.customerDocURL + profileData.image_url}}" alt=""></div>
            
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button [routerLink]="['/customer/home']"><ion-icon name="arrow-back"></ion-icon></ion-button>
                    <ion-title>My Profile</ion-title>
                </div>
                
                
                <div (click)="presentActionSheet()" class="cs-right">
                    <ion-button><ion-icon name="camera"></ion-icon></ion-button>
                </div>
                
            </div>
            
            <div class="profile-segment detail">
                
                <div class="pr-icon">
                    
                    <div *ngIf="!profileData.image_url" class="cs-icon"></div>
                    
                    <div (click)="onViewImageHandler()" *ngIf="profileData.image_url" class="cs-thumb">
                        <img  src="{{dbService.customerDocURL + profileData.image_url}}" alt="">
                    </div>
                    
                </div>
                
                <div class="info">
                    <ion-text color="light">{{profileData.company_name}}<br><span>{{profileData.cust_code}}</span></ion-text>
                </div>
            </div>
            
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            <div class="my_profile" padding>
                
                <div class="information">
                    <div class="figure">
                        <img src="assets/icon/pr_call.svg" alt="">
                        <h1>+91 {{profileData.landline_no}}</h1>
                    </div>
                    <div class="figure">
                        <img src="assets/icon/pr_email.svg" alt="">
                        <a>{{profileData.email}}</a>
                    </div>
                    <div class="figure">
                        <img src="assets/icon/pr_address.svg" alt="">
                        <h1>{{profileData.project_street}} {{profileData.project_state}}, {{profileData.project_district}}, {{profileData.project_city}}, {{profileData.project_pincode}}</h1>
                    </div>
                </div>


                <div class="dashboard_container pr0 pb0 pl0">
                    <div class="customer-dash">
                        <div class="cs-left pr0">
                            <button class="change-pass" [routerLink]="['/changepassword']">
                               <div class="figure">
                                   <div class="top">
                                       <i class="material-icons">arrow_right_alt</i>
                                       <img src="assets/icon/change_password.svg" alt="">
                                   </div>
                                   <h1>Change Password</h1>
                               </div>
                           </button>
                        </div>
                    </div>
                </div>
                
                <div class="complaints product-list mt32 pb10" style="border-radius: 6px;">
                    <div class="cnt-person">
                        <div class="css-heading"><h1>Contact Person(S)</h1></div>
                        
                        <div *ngFor = "let row of contactData" class="p-info mt10">
                            <div class="cs-left">
                                <h1><i class="material-icons">person</i>{{row.name}} ({{row.designation}})</h1>
                                <ion-text><i class="material-icons">mail</i>{{row.email}}</ion-text>
                            </div>
                            <div class="cs-right">
                                <a href="tel: {{row.mobile}}"><i class="material-icons">call</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
