<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button (click)="GoToDetail()"><ion-icon name="arrow-back"></ion-icon></ion-button>
                    <ion-title>#COM50421 - <ion-text>Spare Parts</ion-text></ion-title>
                </div>
                <div class="cs-right">
                    <ion-button (click)="presentcutomerPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            
            <div class="complaints product-list part-list">
                <div class="cs-heading"><h1>install spare parts</h1></div>
                <div class="figure">
                    <div class="cnt-info">
                        <div class="cs-left">
                            <div class="f-alpha">52</div>
                            <div class="names">
                                <h1>ACB Fixed Part</h1>
                                <ion-text>Last Update : 12 Dec 2019</ion-text>
                            </div>
                        </div>
                        <div class="cs-right">
                            <ion-text>ACA0077</ion-text>
                        </div>
                    </div>
                </div>
                <div class="figure">
                    <div class="cnt-info">
                        <div class="cs-left">
                            <div class="f-alpha">52</div>
                            <div class="names">
                                <h1>ACB Fixed Part</h1>
                                <ion-text>Last Update : 12 Dec 2019</ion-text>
                            </div>
                        </div>
                        <div class="cs-right">
                            <ion-text>ACA0077</ion-text>
                        </div>
                    </div>
                </div>
                <div class="figure">
                    <div class="cnt-info">
                        <div class="cs-left">
                            <div class="f-alpha">52</div>
                            <div class="names">
                                <h1>ACB Fixed Part</h1>
                                <ion-text>Last Update : 12 Dec 2019</ion-text>
                            </div>
                        </div>
                        <div class="cs-right">
                            <ion-text>ACA0077</ion-text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
