
<div class="cs-popover">

    <ion-button *ngIf="taskPopUpData && taskPopUpData.taskInstalledPartCount && taskPopUpData.taskInstalledPartCount != 0" fill="clear" (click)="GoToSpare()" (click)="DismissClick()"><div><img src="assets/icon/add_remark.svg" alt="">Spare Part</div></ion-button>

    <ion-button *ngIf="taskPopUpData && taskPopUpData.taskReportCount && taskPopUpData.taskReportCount != 0" fill="clear"><div><img src="assets/icon/mail_service_report.svg" alt="">View Service Report</div></ion-button>

    <ion-button fill="clear" *ngIf="taskPopUpData && taskPopUpData.status && taskPopUpData.status != 'Cancel'" (click)="onCancelComplaintHandler()"><div><img src="assets/icon/cancel-complaint.svg" alt="">Cancel Complaint</div></ion-button>

</div>
