<!-- <title>ESCALATION MATRIX</title> -->

<head>
	<title>ESCALATION MATRIX</title>
	<meta charset="UTF-8">
	<meta name="description" content="Free Web tutorials">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Hege Refsnes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<table width="800px" cellpadding="0" style="margin: 0px auto; font-size:12px; padding: 0px 0px 0px; background: #fff; border:solid 1px #000;" cellpadding="0" cellspacing="0">
	<tr>
		<td style=" padding:0px 0px; width: 800px;">
			<table style="width:800px; border-collapse:collapse;">
				<tr>
					<td style="width:800px;font-size: 16px; text-align: right;font-weight: 600;padding: 10px;font-style: italic;">Head Office <span style="color: #0000ff;">CUSTOMER CENTER</span></td>
				</tr>
			</table>
			<table style="width:800px; border-collapse:collapse;">
				<tr>
					<td style="width:341px;padding: 0px 200px;text-align: center;font-size: 14px;font-style: italic;">
						<p style="margin-top: 15px; padding: 10px;border-radius: 15px; border: 1px solid #000; color: #795548; font-weight: 600;">ESCALATION MATRIX</p>
						<p style="margin-top: 20px; padding: 10px;border-radius: 15px; border: 1px solid #000; color: #339; font-weight: 600;">CUSTOMER CARE CENTER <br> Helpline No:- 0120-4550400, 0124-4695300, </p>
					</td>
					
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table style="width:800px; border-collapse:collapse; border-top: 1px solid #000;">
				<tr>
					<td style="font-size: 14px; text-align: center;font-weight: 600;padding: 10px;">Logging complaint @ Tricolite Customer Service APP(Available on play store)</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="width=800px;">
			<table border="1" style="width:800px; font-size: 14px; font-weight: 600; border-collapse:collapse;">
				<tr>
					<td style="background: #ffffff; width: 100px; text-align:center; padding: 8px;">LEVEL 1</td>
					<td style="background: #ffffff; text-align:center; padding: 8px;">
						<table style="border-collapse:collapse; text-align: left;">
							<tr>
								<td style="padding-bottom: 10px;">+91-99589 98882</td>
							</tr>
							<tr>
								<td style="padding-bottom: 10px;text-decoration: underline; color: #099;">Customercare@tricolite.com</td>
							</tr>
							<tr>
								<td style="padding-bottom: 10px;">+91-93196 44993 – Chetna Sharma</td>
							</tr>
							<tr>
								<td style="text-decoration: underline; color: #099;">Chetna.sharma@tricolite.com</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td style="background: #ffffff; width: 100px; text-align:center; padding: 8px;">LEVEL 2</td>
					<td style="background: #ffffff; text-align:center; padding: 8px;">
						<table style="border-collapse:collapse; text-align: left;">
							<tr>
								<td style="padding-bottom: 10px;">+91-92058 83483 - Mr. Shiv Shakti – for Warranty & FOC Services</td>
							</tr>
							<tr>
								<td style="padding-bottom: 10px;text-decoration: underline; color: #099;">Shivshakti.bhardwaj@tricolite.com</td>
							</tr>
							<tr>
								<td style="padding-bottom: 10px;">+91-99589 98161 – Mr. Pawan Kumar – for AMC/Paid Services</td>
							</tr>
							<tr>
								<td style="text-decoration: underline; color: #099;">Pawan.kumar@tricolite.com</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td style="background: #ffffff; width: 100px; text-align:center; padding: 8px;">LEVEL 3</td>
					<td style="background: #ffffff; text-align:center; padding: 8px;">
						<table style="border-collapse:collapse; text-align: left;">
							<tr>
								<td style="padding-bottom: 10px;">Mr. Sanjay Gupta- for LV Panel Services</td>
							</tr>
							<tr>
								<td style="padding-bottom: 10px;text-decoration: underline; color: #099;">Sanjay@tricolite.com</td>
							</tr>
							<tr>
								<td style="padding-bottom: 10px;">Mr. DK Singh- for HT Panel Services</td>
							</tr>
							<tr>
								<td style="padding-bottom: 10px;text-decoration: underline; color: #099;">dk.singh@tricolite.com</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>