<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-title class="pl0">About Tricolite</ion-title>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            <div class="common_form inner_page">
                <div class="ion-padding">
                    <div class="cnt-content mb32">
                        <p class="mb32">A closely held organization, its has its presence across segments and geographies. Its built its brand with great toil and commitment to the values of delivering total quality and customer centric approach. Over 4 decades of experience in manufacturing has guaranteed in-depth knowledge of the products and their varied applications. It has always had a vision to us the best technology and machinery to deliver a premium product. Teams across all functions are continuously being trained on the new trends in the market and how they can add value to our customers.</p>
                        <p class="mb32">What distinguishes Tricolite from its peers is the culture of continuous learning, high responsibility and full freedom that’s given to the empowered employees to achieve their maximum potential and take full ownership of the organization. Its decentralized management style and been the back bone of building one of the best teams available in the industry pan India.</p>
                        <p>Tricolite aims to be the first choice of their customers as mentioned in our vision statement. We work towards customer exultation such that we are always present to fulfill their future requirements. All prestigious brands across segments choose to work with Trciolite given its history of performance and commitment.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</ion-content>
