<ion-content >
    <div class="cs-main-container">
        <div class="custome-head">
            <div class="cs-ion-header">
                <div class="cs-left">
                    <ion-button (click)="GoComplaintDetail()"><ion-icon name="arrow-back"></ion-icon></ion-button>
                    <ion-title>#COM-{{taskNo}} - <ion-text>Change Status</ion-text></ion-title>
                </div>
                <div class="cs-right">
                    <ion-button (click)="presentPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
                </div>
            </div>
            <div class="cs-ion-hf"></div>
        </div>
        
        <div class="cs-ion-content pt0" padding>
            
            <div class="common_form inner_page">
                <ion-item class="cs-select">
                    <ion-label>Select Status</ion-label>
                    
                    <ion-select [(ngModel)] = "data.status" placeholder="Select One">

                        <ion-select-option *ngFor="let row of statusOptionList" [value]="row.status">{{row.status}}</ion-select-option>

                    </ion-select>

                </ion-item>
                
                <div class="cs-btn mt16" text-right *ngIf = "taskStatus != 'Close'">
                    <ion-button (click) = "onSaveStatusDataHandler()" class="success min w100">SAVE</ion-button>
                </div>
            </div>
            
            <div *ngIf="taskStatusList && taskStatusList.length > 0" class="complaints product-list part-list mt20">
                <div class="cs-heading"><h1>Status History</h1></div>

                <div *ngFor="let row of taskStatusList" class="figure nicon">
                    <div class="cnt-info">
                        <div class="cs-left">
                            <div class="names">
                                <h1>{{row.status}}</h1>
                            </div>
                        </div>
                        <div class="cs-right">
                            <ion-text><span>{{row.dateCreated}}</span> | {{row.timeCreated}}</ion-text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
